@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&family=Open+Sans:wght@300;400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Montserrat', 'Open Sans', sans-serif;
  font-weight: 400;
  @apply transition duration-300;
}

.tech-stack > h1 {
  color: transparent;
  background-size: cover;
  background-image: linear-gradient(
    147deg,
    #f90fd8,
    #f54377 26%,
    #fc1c1c 50%,
    #ffc30d 75%,
    #72fb59
  );
  -webkit-background-clip: text;
}
.background > h1,
.projects h1 {
  color: transparent;
  background-size: cover;
  background-image: url('https://media2.giphy.com/media/dAWZiSMbMvObDWP3aA/200w.gif?cid=82a1493byp37003a7qbmajj1l5tg7mcliwmw1twdt960cw2l&ct=g&rid=200w.gif');
  -webkit-background-clip: text;
}

.tooltip::before {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
  top: 100%;
  left: 50%;
}

.tooltip {
  @apply absolute bottom-9 w-auto p-2 m-2 min-w-max rounded-md shadow-md text-xs font-bold scale-0 bg-black text-white transition-all duration-100 origin-bottom;
}
